{% extends "layout.html" %}
{% block title %}Analayze Me{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-12">
        <h1 class="title">Your weak topics:</h1>
    </div>
</div>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        {% for topic in topics %}
            <div class="tile is-parent" style="margin-bottom: 10mm;">
                <article class="tile is-child box">
                    <p class="title">{{topic.name}}</p>
                </article>
            </div>
        {%endfor%}
    </div>
</section>

    <div class="columns">
        <div class="column is-12">
            <h1 class="title">We recommend you to solve this problems:</h1>
        </div>
    </div>
    {% if problems%}
    <table class="table is-striped is-fullwidth">
        <td>
            <div class="columns">
                <div class="column is-2">
                    Problem Name
                </div>
                <div class="column is-2">
                    Difficulty
                </div>
                <div class="column is-2">
                    Topics
                </div>
                <div class="column is-1">
                    Likes
                </div>
                <div class="column is-1">
                    Dislikes
                </div>
            </div>
        </td>
        {%for problem_key, problem in problems%}
        <tr>
            <td>
                <div class="columns">
                    <div class="column is-2">
                        {{problem.name}}
                    </div>
                    <div class="column is-2">

                        {% if problem.difficulty == '1' %}
                            Easy
                        {% elif problem.difficulty == '2' %}
                            Medium
                        {% else %}
                            Hard
                        {% endif %}
                    </div>
                    <div class="column is-2">
                        {%for topicc, problemm in relations%}
                            {% if problemm == problem.name %}
                            <button class="no-click">
                                {{topicc}}
                            </button>
                            {% endif %}
                        {%endfor%}
                    </div>
                    <div class="column is-1">
                        {{problem.likes}}
                    </div>
                    <div class="column is-1">
                        {{problem.dislikes}}
                    </div>
                    <div class="column is-1">
                        <a class="button is-small" href="{{url_for('like_page', probid=problem.name, nextsort='analyzeme')}}">like</a>
                        <a class="button is-small" href="{{url_for('dislike_page', probid=problem.name, nextsort='analyzeme')}}">dislike</a>
                    </div>
                    <div class="column is-2">
                        <a class="button is-small" href="{{url_for('solved_page', probid=problem.name, nextsort='analyzeme')}}">solved</a>
                        <a class="button is-small" href="{{url_for('cant_solved_page', probid=problem.name, nextsort='analyzeme')}}">cannot solved</a>
                    </div>
                    <div class="column is-1">
                        <a class="button" href="{{problem.url}}" target="_blank">
                            Solve
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
{% endblock %}
