{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="container">
    <div class="columns features">
      <div class="column is-6">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../static/whatisats.png" alt="What is ATS">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>What is Algorithm Training System?</h4>
              <p>"Algorithm Training System" is a system which provides effective algorithm problems to users. In system you can add problems or solve problems added by other users and give vote to them</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../static/whyats.png" alt="Why ATS">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Why Algorithm Training System?</h4>
              <p>Several websites includes thousands of algorithm problems. Sometimes people may not know which problems to solve. In our system users adds only high quality questions. System can be user as a perfect guide for studying algorithms.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
