{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="container">
    <div class="columns features">
      <div class="column is-6">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../static/whatisats.png" alt="What is ATS">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>What is Algorithm Training System?</h4>
              <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../static/whyats.png" alt="Why ATS">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Why Algorithm Training System?</h4>
              <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem
              sed risus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
