<!DOCTYPE html>
<html lang="en" style="background-color: bisque;">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <nav class="navbar" role="navigation" aria-label="main navigation" style="margin-bottom: 70px; background-color: rgb(51, 142, 247);">
        
            <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{url_for('home_page')}}">
                    HOME
                </a>
        
                <a class="navbar-item" href="{{url_for('problemset_page')}}">
                    PROBLEMSET
                </a>
        
                <a class="navbar-item" href="{{url_for('rating_page')}}">
                    RATING
                </a>
                
                <a class="navbar-item" href="{{url_for('profile_page')}}">
                    MY PROFILE
                </a>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                    <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                    Log in
                    </a>
                </div>
                </div>
            </div>
            </div>
        </nav>
    </head>
    <body>
        {%block content%}{%endblock%}
    </body>
</html>
