{% extends "layout.html" %}
{% block title %}Problemset{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is 6">
            <h1 class="title">Problemset</h1>
        </div>
        <div class="add-button">
            <a class="button" href="{{url_for('problem_add_page')}}">
                Add Problem
            </a>
        </div>
    </div>
    

    {% if problems%}
    <table class="table is-striped is-fullwidth">
        <td>
            <div class="columns">
                <div class="column is-2">
                    Problem Name
                </div>
                <div class="column is-2">
                    Difficulty
                </div>
                <div class="column is-2">
                    Topics
                </div>
                <div class="column is-1">
                    Likes
                </div>
                <div class="column is-1">
                    Dislikes
                </div>
            </div>
        </td>
        {%for problem_key, problem in problems%}
        <tr>
            <td>
                <div class="columns">
                    <div class="column is-2">
                        {{problem.name}}
                    </div>
                    <div class="column is-2">
                        {{problem.difficulty}}
                    </div>
                    <div class="column is-2">
                        {%for topic in problem.topics%}
                            <button class="no-click">
                                {{topic}}
                            </button>
                        {%endfor%}
                    </div>
                    <div class="column is-1">

                    </div>
                    <div class="column is-1">

                    </div>
                    <div class="column is-2">
                        like dislike
                    </div>
                    <div class="column is-2">
                        <a class="button" href="{{problem.url}}">
                            Solve
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
{% endblock %}
