{% extends "layout.html" %}
{% block title %}Problemset{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is-2">
            <h1 class="title">Problemset</h1>
        </div>
        <div class="column is-8">
            
            <form action="" method="POST" name="problemset_page">
                {{ form.csrf_token }}
                Sort by:
                {% for subfield in form.sort_choice %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                  {% for error in form.sort_choice.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
    
                <button class="button">
                  Apply
                </button>
              </form>
        </div>
        <div class="add-button">
            <a class="button" href="{{url_for('problem_add_page')}}">
                Add Problem
            </a>
        </div>
    </div>
    

    {% if problems%}
    <table class="table is-striped is-fullwidth">
        <td>
            <div class="columns">
                <div class="column is-2">
                    Problem Name
                </div>
                <div class="column is-2">
                    Difficulty
                </div>
                <div class="column is-2">
                    Topics
                </div>
                <div class="column is-1">
                    Likes
                </div>
                <div class="column is-1">
                    Dislikes
                </div>
            </div>
        </td>
        {%for problem_key, problem in problems%}
        <tr>
            <td>
                <div class="columns">
                    <div class="column is-2">
                        {{problem.name}}
                    </div>
                    <div class="column is-2">

                        {% if problem.difficulty == 1 %}
                            Easy
                        {% elif problem.difficulty == 2 %}
                            Medium
                        {% else %}
                            Hard
                        {% endif %}
                    </div>
                    <div class="column is-2">
                        {%for topicc, problemm in relations%}
                            {% if problemm == problem.name %}
                            <button class="no-click">
                                {{topicc}}
                            </button>
                            {% endif %}
                        {%endfor%}
                    </div>
                    <div class="column is-1">
                        {{problem.likes}}
                    </div>
                    <div class="column is-1">
                        {{problem.dislikes}}
                    </div>
                    <div class="column is-1">
                        <a class="button is-small" href="{{url_for('like_page', probid=problem.name)}}">like</a>
                        <a class="button is-small" href="{{url_for('dislike_page', probid=problem.name)}}">dislike</a>
                    </div>
                    <div class="column is-2">
                        <a class="button is-small" href="{{url_for('solved_page', probid=problem.name)}}">solved</a>
                        <a class="button is-small" href="{{url_for('solved_page', probid=problem.name)}}">cannot solved</a>
                    </div>
                    <div class="column is-1">
                        <a class="button" href="{{problem.url}}">
                            Solve
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
{% endblock %}
