{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<section class="hero is-primary is-fullheight" style="background-color: bisque;">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-3-desktop">
            <form action="" method="POST" name="register" class="box">
              <div class="field">
                <label for="" class="label">Choose a Username</label>
                <div class="control">
                  <input type="username" class="input" required>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Enter Password</label>
                <div class="control">
                  <input type="password" class="input" required>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Confirm Password</label>
                <div class="control">
                  <input type="password" class="input" required>
                </div>
              </div>
              <div class="field">
                <button class="button is-success">
                  Sign up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
